<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
  </head>
  <body>
    <h1><%= name %> 書籍資料</h1>
    <p>狀態： <%= status %></p>
    <table>
      <tr>
        <th>書名</th>
        <th><%= name %></th>
      </tr>
      <tr>
        <th>作者</th>
        <th><%= author %></th>
      </tr>
      <% try { %>
      <tr>
        <th>出版社</th>
        <th><%= publisher %></th>
      </tr>
      <% }catch(err) {} %>
      <tr>
        <th>ISBN</th>
        <th><%= ISBN %></th>
      </tr>
    </table>
  </body>
</html>